// Styles for Crumbs only.

.crumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  font-size: 0.75rem;
  color: var(--faint);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    color: var(--rule);
  }
}
